form {
    background-color:#1d2124;
    padding:.5rem;
    margin:0 !important;
}
input{
    background-color: #fff0;
    border: none;
    border-bottom: 2px solid white;
}
input::-webkit-input-placeholder{
    color: #a9a9a9;
}
button{
    color: white;
    border: 1px solid white;
    background-color: #ffffff00;
}